body {
  background-image: url("../images/lebowski_rug.jpg");
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

h1 {
  font-family: "Rye", cursive;
}

h2 {
  font-size: 80px;
  font-weight: bold;
  color: lime;
}

#timer {
  border: 2px solid magenta;
  color: lime;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
  width: 25%;
}

#endGame {
  border: 5px solid white;
  color: white;
  margin: 30px;
}
