body {
  background-image: url("../images/lebowski_rug.jpg");
  background-attachment: fixed;
  background-position: center top;
}

header {
  margin: 2rem;
}

h1 {
  font-family: "Rye", cursive;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: lime;
}

h3 {
  font-size: 2rem;
}

hr {
  border: 1px solid white;
  width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

#timer {
  border: 2px solid magenta;
  color: lime;
  padding: 0.3rem;
  margin: auto;
  margin-bottom: 1rem;
  width: 16rem;
}

#startTimerButton {
  width: 4rem;
}

#ques {
  text-wrap: wrap;
}

#endGame {
  border: 2px solid white;
  color: white;
  background-color: sienna;
  margin: 2rem;
  padding: 1rem;
}

#score {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
